body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #22181c;
    background-color: #f6e8ea;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f6e8ea;
    color: #fff;
    padding: 20px 0;
    transition: background-color 0.3s;
    margin-bottom: 50px;
}

#logo {
    width: 300px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60px;
}

nav {
    width: 250px;
    max-height: 35px;
    margin-right: 90px;
    justify-content: space-between;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    position: sticky;
    top: 100vh;
    padding: 10px;
    text-align: center;
    background-color: #84dccf;
    color: #22181c;
    margin-top: 70px;
}

footer a {
    color: #22181c;
}

.cont_general {
    display: flex;
    justify-content: space-between;
}

#eslogan {
    font-size: 250%;
}

.informacion-proyecto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    margin: 0 auto;
    padding: 35px;
    border-radius: 6px;
}

#info {
    font-size: 16px;
    line-height: 1.5;
    color: #22181c;
    width: 350px;
    text-align: center;
}

button {
    display: block;
    background: #84dccf;
    color: #22181c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s, color 0.3s transform 0.3s,
        box-shadow 0.3s;
}

button:hover {
    background: #ef626c;
    color: #fff;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
