@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Roboto", sans-serif !important;
    display: flex;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f6e8ea;
    font-style: normal;
}

#logo {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 400px;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
}

::placeholder {
    font-family: "Roboto";
}

.formulario button {
    align-self: flex-end;
}

.flex-column > label {
    color: black;
    font-weight: 500;
    font-style: normal;
    font-family: "Roboto";
}

.inputsFormulario {
    border: 1.5px solid black;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

#documentoICO,
#contraseñaICO {
    width: 20px;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 90%;
    background-color: white;
}

.input:focus {
    outline: none;
}

.inputsFormulario:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

#span_registrarse,
#span_recuperarContraseña {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.bttn_login {
    margin: 20px 0 10px 0;
    background-color: #22181c;
    border: none;
    color: #f6e8ea;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.9s, color 0.3s transform 0.3s,
        box-shadow 0.3s;
}

.bttn_login:hover {
    background: #312f2f;
    color: #fff;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.profesor {
    background-color: rgb(132, 220, 207);
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.9s, color 0.3s transform 0.3s,
        box-shadow 0.3s;
}

.profesor:hover {
    background: #ef626c;
    color: #fff;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.profesor img {
    display: flex;
    margin: initial;
    width: 7%;
}

/*CODIGO PARA EL LOADER*/
.animacion {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5d3fd3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}

.three-body__dot:after {
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}

.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
        calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wobble1 {
    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(-66%) scale(0.65);
        opacity: 0.8;
    }
}

@keyframes wobble2 {
    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(66%) scale(0.65);
        opacity: 0.8;
    }
}
