body {
    font-family: "LT Saeada", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f6e8ea;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #fff;
    padding: 20px 0;
    transition: background-color 0.3s;
    margin-bottom: 50px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1),
        0 1px 30px 0 rgba(0, 0, 0, 0.1);
}

#logo {
    width: 250px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60px;
}

nav {
    width: 150px;
    max-height: 35px;
    margin-right: 90px;
    justify-content: space-between;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    position: sticky;
    top: 100vh;
    padding: 10px;
    text-align: center;
    background-color: white;
    color: #22181c;
    margin-top: 60px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1),
        0 1px 30px 0 rgba(0, 0, 0, 0.1);
}

footer a {
    color: #22181c;
}

.cont_general {
    display: flex;
    justify-content: space-between;
}

#eslogan {
    font-size: 300%;
}

.informacion-proyecto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    margin: 0 auto;
    padding: 35px;
    border-radius: 6px;
}

#info {
    font-size: 16px;
    line-height: 1.5;
    color: #22181c;
    width: 350px;
    text-align: center;
}

button {
    display: block;
    background: #84dccf;
    color: #22181c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s, color 0.3s transform 0.3s,
        box-shadow 0.3s;
}

button:hover {
    background: #ef626c;
    color: #fff;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/*CODIGO PARA EL LOADER*/
.animacion {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5d3fd3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}

.three-body__dot:after {
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}

.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
        calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wobble1 {
    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(-66%) scale(0.65);
        opacity: 0.8;
    }
}

@keyframes wobble2 {
    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(66%) scale(0.65);
        opacity: 0.8;
    }
}
