body {
    font-family: "LT Saeada", sans-serif !important;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #22181c;
    background-color: #f6e8ea;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #fff;
    padding: 20px 0;
    transition: background-color 0.3s;
    margin-bottom: 50px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1),
        0 1px 30px 0 rgba(0, 0, 0, 0.1);
}

#logo {
    width: 250px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60px;
}

nav {
    width: 150px;
    max-height: 35px;
    margin-right: 60px;
    justify-content: space-between;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#btn_logout {
    display: block;
    background: #22181c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s, color 0.3s transform 0.3s,
        box-shadow 0.3s;
}

#btn_logout:hover {
    background: #f6e8ea;
    color: #22181c;
    transition: all 0.5s ease-out;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.sectTable {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5vh;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.tabla {

    width: 100%;
    overflow-y: auto;
    height: 200px;
}

table {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 15px;
    border: solid #000;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

table td {
    border-radius: 5px;
    text-align: center;
}

table th {
    background-color: #312f2f;
    padding: 10px;
    color: #fff;
}

.head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.insert {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sectTable footer {
    margin-top: 20px;
    border: 2px solid black;
    padding: 2px;
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
}

#refresh {
    border: none;
    background: none;
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.spin-animation {
    animation: spin 1s linear infinite;
}

#btn-options {
    border: none;
    background: none;
    cursor: pointer;
}

.options-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -150px;
    list-style: none;
    background-color: white;
    padding: 15px;
    width: 200px;
    height: 45px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1),
        0 1px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.hidden {
    display: none;
}

.btn-insert {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #22181c;
    color: #fff;
    border-radius: 5px;
    flex-direction: row;

}

.btn-insert:hover{
    background: #f6e8ea;
    color: #22181c;
    transition: all 0.5s ease-out;
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.btn-insert label {
    margin-left: 5px;
    font-weight: 400;
}

#insertar {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out, height 1s ease-in-out;
}

/* Estilo visible */
#insertar.visible {
    opacity: 1;
    height: auto;
    /* Ajusta la altura automáticamente */
}

/* Para manejar la transición de altura */
#insertar.hidden {
    display: none;
}