<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>IndeNetwork - Inicio</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/index.css')}}"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        />
        <link
            rel="icon"
            type="image/icon"
            href="{{url_for('static', filename='img/LOGO/Logo - INet ICO.ico')}}"
        />
    </head>
    <body>
        <header>
            <img
                id="logo"
                alt="Logo de IndeNetwork"
                src="{{url_for('static', filename='img/LOGO/Logo 2 - Beta.png')}}"
            />
            <nav>
                <button id="bttn_registro" type="button">
                    Registrarse
                </button>
                <button id="bttn_login" type="button">
                    Iniciar Sesión
                </button>
            </nav>
        </header>

        <div class="cont_general">
            <div class="informacion-proyecto">
                <h1 id="eslogan">
                    El espacio ideal <br />para resolver dudas <br />y
                    potenciar tu aprendizaje
                </h1>
                <div id="info">
                    <h4>
                        ¡Descubre IndeNetwork: tu plataforma educativa
                        en línea que fomenta la colaboración y el
                        aprendizaje mutuo!
                    </h4>
                    <p>
                        Conecta con otros estudiantes, forma grupos de
                        estudio, comparte conocimientos y resuelve
                        dudas, todo desde la comodidad de tu
                        dispositivo. Únete a nuestra comunidad y vive
                        la experiencia de un aprendizaje enriquecedor
                        que te llevará hacia el éxito académico.
                        ¡Empieza tu viaje educativo digital hoy mismo
                        con IndeNetwork!
                    </p>
                </div>
            </div>
        </div>

        <footer>
            <p>
                El espacio ideal para resolver dudas y potenciar tu
                aprendizaje
            </p>
            <a href="https://ieindependencia.edu.co">
                I.E La Independencia
            </a>
            <p>&copy; 2024 IndeNetwork</p>
        </footer>
        <script>
            window.addEventListener("load", function () {
                document
                    .getElementById("bttn_login")
                    .addEventListener("click", function () {
                        location.href = "/login"
                    })
            })
        </script>
    </body>
</html>
