<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/login.css')}}"
        />
        <title>Home - IndeNetwork</title>
        <link
            rel="icon"
            type="image/icon"
            href="{{url_for('static', filename='img/LOGO/Logo - INet ICO.ico')}}"
        />
    </head>
    <body>
        <div class="contenedorFormulario">
            <form
                action="/logining"
                class="formulario"
                method="post"
                name="formulario"
            >
                <img
                    id="logo"
                    src="{{url_for('static', filename='img/LOGO/Logo 2 - Beta.png')}}"
                />
                <h3>¡Bienvenido a IndeNetwork!</h3>
                <p>Aquí podrás iniciar sesión en la plataforma</p>
                <div id="cont_input-label">
                    <div class="labels">
                        <label>Documento</label>
                    </div>
                    <div class="inputs">
                        <img
                            class="ICO"
                            src="{{url_for('static', filename='img/ICONS/User - ICO.png')}}"
                            alt="Icono de usuario"
                        />
                        <input
                            name="inputDocumentNumber"
                            type="number"
                            class="input"
                            placeholder="Ingrese su documento"
                            required
                        />
                    </div>
                </div>
                <div class="cont_input-label">
                    <div class="labels">
                        <label>Contraseña </label>
                        <p
                            id="msg_contraseñaInconrrecta"
                            style="display: none; color: red"
                        >
                            ¡Contraseña incorrecta!
                        </p>
                    </div>
                    <div class="inputs">
                        <img
                            class="ICO"
                            src="{{url_for('static', filename='img/ICONS/Candado - ICO.png')}}"
                            alt="Icono de candado"
                        />
                        <input
                            name="inputPass"
                            type="password"
                            class="input"
                            placeholder="Ingrese su contraseña"
                            required
                        />
                        <!--ESTA FUNCIONALIDA SE IMPLEMENTARÁ DESPUES
                            <img
                                style="display: none"
                                id="contraseñaCLOSE"
                                src="{{url_for('static', filename='img/ICONS/OjoCerrado - ICO.png')}}"
                                alt="Icono de Ojo Cerrado"
                            />
                            <img
                                style="display: none"
                                id="contraseñaOPEN"
                                src="{{url_for('static', filename='img/ICONS/OjoAbierto - ICO.png')}}"
                                alt="Icono de Ojo abierto"
                            />
                        -->
                    </div>
                </div>
                <!--ESTAS FUNCIONALIDADES SE IMPLEMENTARAN DESPUES
                    <div class="flex-row">
                        <div>
                            <input id="opcion_recordar" type="checkbox" />
                            <label>Recuerdame </label>
                        </div>
                        <span id="span_recuperarContraseña"
                            >Olvidé mi contraseña</span
                        >
                    </div>
                -->
                <button
                    type="submit"
                    class="bttn_login"
                    for="formulario"
                >
                    Iniciar Sesión
                </button>
                <p>
                    ¿No tienes una cuenta? -
                    <span id="span_register">Registrarse</span>
                </p>
            </form>
        </div>
        <div class="animacion">
            <div class="three-body">
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
            </div>
        </div>
        <script>
            document.addEventListener(
                "DOMContentLoaded",
                function () {
                    document.querySelector(
                        ".contenedorFormulario",
                    ).style.display = "none"
                    document.querySelector(
                        ".animacion",
                    ).style.display = "flex"
                },
            )

            window.addEventListener("load", function () {
                setTimeout(function () {
                    document.querySelector(
                        ".animacion",
                    ).style.display = "none"
                    document.querySelector(
                        ".contenedorFormulario",
                    ).style.display = "block"
                }, 2000)
                document
                    .getElementById("span_register")
                    .addEventListener("click", function () {
                        location.href = "/register"
                    })
            })
        </script>
    </body>
</html>
