<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/login.css')}}"
        />
        <title>Home - IndeNetwork</title>
        <link
            rel="icon"
            type="image/icon"
            href="{{url_for('static', filename='img/LOGO/Logo - INet ICO.ico')}}"
        />
    </head>
    <body>
        <div class="contenedorFormulario">
            <form
                action="/logining"
                class="formulario"
                method="post"
                name="formulario"
            >
                <img
                    id="logo"
                    src="{{url_for('static', filename='img/LOGO/Logo 2 - Beta.png')}}"
                />
                <div class="flex-column">
                    <label>Documento</label>
                </div>
                <div class="inputsFormulario">
                    <img
                        id="documentoICO"
                        src="{{url_for('static', filename='img/ICONS/User_BN - ICO.png')}}"
                        alt="Icono de usuario"
                    />
                    <input
                        name="inputDocumentNumber"
                        type="number"
                        class="input"
                        placeholder="Ingrese su documento"
                        required
                    />
                </div>

                <div class="flex-column">
                    <label>Contraseña </label>
                </div>
                <div class="inputsFormulario">
                    <img
                        id="contraseñaICO"
                        src="{{url_for('static', filename='img/ICONS/Candado - ICO.png')}}"
                        alt="Icono de candado"
                    />
                    <input
                        name="inputPass"
                        type="password"
                        class="input"
                        placeholder="Ingrese su contraseña"
                        required
                    />
                    <img
                        id="contraseñaICO"
                        src="{{url_for('static', filename='img/ICONS/OjoCerrado - ICO.png')}}"
                        alt="Icono de Ojo Cerrado"
                    />
                    <img
                        style="display: none;"
                        id="contraseñaICO"
                        src="{{url_for('static', filename='img/ICONS/OjoAbierto - ICO.png')}}"
                        alt="Icono de Ojo abierto"
                    />
                </div>

                <div class="flex-row">
                    <div>
                        <input id="opcion_recordar" type="checkbox" />
                        <label>Recuerdame </label>
                    </div>
                    <span id="span_recuperarContraseña"
                        >Olvidé mi contraseña</span
                    >
                </div>
                <button
                    type="submit"
                    class="bttn_login"
                    for="formulario"
                >
                    Iniciar Sesión
                </button>
                <p class="p">
                    No tengo una cuenta -
                    <span id="span_registrarse">Registrarse</span>
                </p>
                <p class="p line">O</p>

                <div class="flex-row">
                    <button class="profesor">
                        <img
                            id="profesorICO"
                            src="{{url_for('static', filename='img/ICONS/Profesor - ICO.png')}}"
                        />
                        Soy Profesor
                    </button>
                </div>
            </form>
        </div>
        <div class="animacion">
            <div class="three-body">
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
            </div>
        </div>
        <script>
            document
                .querySelector(".bttn_login")
                .addEventListener("click", function () {
                    location.href = "/logining"
                })
        </script>
    </body>
</html>
