<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="icon"
            type="image/icon"
            href="{{url_for('static', filename='img/LOGO/Logo - INet ICO.ico')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/inicio.css')}}"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Inicio - INet</title>
    </head>
    <body>
        <div id="body2">
            <header>
                <div id="cont_logo">
                    <a href="/">
                        <img
                            id="logo"
                            alt="Logo de IndeNetwork"
                            src="{{url_for('static', filename='img/LOGO/Logotipo.png')}}"
                        />
                    </a>
                </div>
                <form
                    action="/inicio/search"
                    id="form_buscadorGeneral"
                    method="post"
                    autocomplete="off"
                >
                    <div id="content_search">
                        <div id="search">
                            <input
                                name="valor_aBuscar"
                                id="input_search"
                                type="text"
                                placeholder="Buscar..."
                                required
                            />
                            <img
                                id="btn_search"
                                src="{{url_for('static', filename='img/ICONS/SearchICO.svg')}}"
                            />
                        </div>
                    </div>
                </form>
                <nav>
                    <div id="img_nav">
                        <p>
                            ¡Bienvenido {{nombre + " " + apellido}}!
                        </p>
                        <a href="/perfil">
                            <img
                                id="img_user"
                                src="{{url_for('static', filename='img/ICONS/UserCirculeICO.svg')}}"
                            />
                        </a>
                        <a>
                            <img
                                src="{{url_for('static', filename='img/ICONS/OptionPointICO.svg')}}"
                            />
                        </a>
                    </div>
                </nav>
            </header>

            <footer>
                <p>
                    Donde tus preguntas encuentran respuestas y tu
                    aprendizaje se fortalece
                </p>
                <a href="https://ieindependencia.edu.co">
                    I.E La Independencia
                </a>
                <p>&copy; 2024 IndeNetwork</p>
            </footer>
        </div>
        <div class="animacion">
            <div class="three-body">
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
            </div>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("body2").style.display = "none"
            document.querySelector(".animacion").style.display =
                "flex"
            localStorage.setItem("Documento", "{{documento}}")
        })

        window.addEventListener("load", function () {
            setTimeout(function () {
                document.querySelector(".animacion").style.display =
                    "none"
                document.getElementById("body2").style.display =
                    "block"
            }, 2000)
            document
                .getElementById("btn_search")
                .addEventListener("click", function () {
                    document.getElementById("form_buscadorGeneral").submit()
                })
        })
    </script>
</html>
