<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/login.css')}}"
        />
        <title>inicio - IndeNetwork</title>
        <link
            rel="icon"
            type="image/icon"
            href="{{url_for('static', filename='img/LOGO/Logo - INet ICO.ico')}}"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="contenedorFormulario">
            <form
                action="/logining"
                class="formulario"
                method="post"
                name="formulario"
            >
                <img
                    id="logo"
                    src="{{url_for('static', filename='img/LOGO/Logotipo.png')}}"
                />
                <h3>¡Bienvenido a IndeNetwork!</h3>
                <p>Aquí podrás iniciar sesión en la plataforma</p>
                <div id="cont_input-label">
                    <div class="labels">
                        <label>Documento</label>
                    </div>
                    <div class="inputs">
                        <img
                            class="ICO"
                            src="{{url_for('static', filename='img/ICONS/IdUserICO.svg')}}"
                            alt="Icono de usuario"
                        />
                        <input
                            name="inputDocumentNumber"
                            type="number"
                            class="input"
                            placeholder="Ingrese su documento"
                            required
                        />
                    </div>
                </div>
                <div class="cont_input-label">
                    <div class="labels">
                        <label>Contraseña </label>
                    </div>
                    <div class="inputs">
                        <img
                            class="ICO"
                            src="{{url_for('static', filename='img/ICONS/PassICO.svg')}}"
                            alt="Icono de candado"
                        />
                        <input
                            name="inputPass"
                            type="password"
                            class="input"
                            placeholder="Ingrese su contraseña"
                            required
                        />
                    </div>
                </div>
                <button
                    type="submit"
                    class="bttn_login"
                    for="formulario"
                >
                    Iniciar Sesión
                </button>
            </form>
        </div>
        <div class="animacion">
            <div class="three-body">
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
            </div>
        </div>
        <script>
            document.addEventListener(
                "DOMContentLoaded",
                function () {
                    document.querySelector(
                        ".contenedorFormulario",
                    ).style.display = "none"
                    document.querySelector(
                        ".animacion",
                    ).style.display = "flex"
                },
            )

            window.addEventListener("load", function () {
                setTimeout(function () {
                    document.querySelector(
                        ".animacion",
                    ).style.display = "none"
                    document.querySelector(
                        ".contenedorFormulario",
                    ).style.display = "block"
                }, 2000)
            })
        </script>
    </body>
</html>
